html *
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px;

}

.overlay {
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}

html, body, #container {
    height: 100%;
}

#timeline {
    width: 100%;
}

.post {
    width: 600px;
    margin: 10px auto;
    background: #FFFFFF;
    border-radius:5px
}

.scheduled_post {
    width: 600px;
    margin: 10px auto;
    background: #CCCCCC;
    color: grey;
    border-radius: 5px
}

.title {
    /*background: #CCCCCC;*/
    font-size: large;
    padding: 5px 5px 0px ;
}

.insight {
    /*background: #EEEEEE;*/
    color: #888888;
    font-size: small;
    text-align: right;
    margin-right: 20px;
}

.schedule {
    /*background: #EEEEEE;*/
    color: #888888;
    font-size: 14px;
    text-align: right;
    margin-right: 20px;
}

.pic {
    /*background: #EEEEEE;*/
}

.msg{
    padding: 0px 5px 5px;
    font-family: arial;
    font-size: 14px;
}

#publish_box {
    height: 150px;
    /*border: 2px dashed orange;*/
    padding: 0 5px;
}

#publish_module {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.progress-bar-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 998;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(255, 255, 255, 0.6);
}

.progress-bar-cover .progress-bar {
    height: 30px;
    width: 80%;
}

.no-size {
    max-width: 0;
    max-height: 0;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    border-radius: 0;
}

.message-input {
    width: 98%;
    margin: 3px 1%;
    height: calc(100% - 60px)
}

.input-button-group {
    display: inline-block;
}

.button-active {
    background: #007fff !important;
    color: #ffffff !important;
}

.post_img {
    width: 100%;
    align: 'middle';
    margin: 50px;
}

#topBarBG {
    margin: 0px;
    padding: 0px;
    background-color: #3b5998;
    background-size: cover;
    height: 150px;
    background-position: 0 -50px;
}

#gradient{
    width: 100%;
    height: 150px;
    z-index: 99998;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0));
}

#welcome{
    color: #3b5998;
    z-index: 99999;
    margin: 20px;
}

#revokeButton{
     z-index: 99999;
     margin: 20px;
}

.fb-login-button{
    position: absolute;
    top: 50%;
    left: 50%;
}